<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Dwell Candy" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="contain-to-grid sticky fixed">
      <nav class="top-bar">
        <ul class="left">
          <li>
            <a href="/"><img id="navbar-logo"src="/assets/DC_logo4.png"/></a>
          </li>
        </ul>
        <% if current_user %>
          <ul class="right inline-list" id="signed-in-list">
            <li><a href="/" class="text-white">Home</a></li>
            <li><a href="#" class="text-white"><%= current_user.first_name %></a></li>
            <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
            <li class="divider"></li>
          </ul>
        <% else %>
          <ul class="right">
            <li class="divider"></li>
            <li id="sign-in-container"><a class="zocial facebook" href="/auth/facebook", id="sign-in">Sign in</a></li>
            <li><%= link_to "or Log In", '#', id: "log-in", class: "text-white" %></li>
            <li class="divider"></li>
          </ul>
        <% end %>
      </nav>
    </div>

    <%= yield %>

    
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
